[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
django = "==3.0.4"
django-environ = "==0.4.5"
requests = "==2.23.0"

[requires]
python_version = "3.7"
