[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
django = "==3.0.7"
django-environ = "==0.4.5"
django-s3-storage = "==0.13.0"
pymysql = "==0.9.3"
requests = "==2.23.0"
zappa = "==0.51.0"

[requires]
python_version = "3.7"
