{% extends "base.html" %}
{% block title %}
    {{ answer.title }}
{% endblock %}
{% block body %}

    <section class="container">
        <div class="row">
            <article class="col col-md-4 justify-content-start">
                <br><h1>Edit answer</h1>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.question }}

                    <div class="form-group">
                        <label for="id_content">Your answer:</label>
                        {{ form.content }}
                    </div>

                    <div class="form-group">
                        <label for="id_user_name">Your name:</label>
                        {{ form.user_name }}
                    </div>

                    <div class="form-group">
                        <label for="id_user_email">Your email:</label>
                        {{ form.user_email }}
                    </div>

                    <button class="form-item btn btn-lg btn-primary btn-block" type="submit">Update answer</button>
                </form>
            </article>
        </div>
    </section>
{% endblock %}
